* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}

/*UTILITIES*/
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float: left;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.w-special {
    width: calc(40% - 120px);
    margin-left: 40px;
    margin-right: 80px;
}

.w-60 {
    width: 60%;
}

.white-btn, .dark-btn, .indaco-btn {
    border-radius: 20px;
}

.dark-btn, .indaco-btn {
    color: white;
    padding: 13px 20px;
}

.white-btn {
    background-color: white;
}

.dark-btn {
    background-color: black;
    margin-left: 15px;
}

.indaco-btn {
    background-color: #5865f2;
}

.fas.fa-long-arrow-alt-down {
    padding: 8px;
}


/*HEADER*/ 
header {
    background-color: #3161e0;
    color: white;
    text-align: center;
}

header .top-bar {
    height: 80px;
    line-height: 80px;
}

.logo {
    vertical-align: middle;
}

.top-bar .top-bar-menu {
    display: inline-block;
}
 
.top-bar-menu li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
}

.top-bar a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.top-bar a:hover {
    text-decoration: underline;
}

.top-bar .white-btn {
    color: black;
    padding: 10px 15px;
}

.jumbotron {
    height: 500px;
    background-image:url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.jumbotron .container {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-47%, -50%); 
}

.jumbotron .container h1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 40px;
}

.jumbotron .container p {
    font-size: 20px;
    line-height: 30px;
}

.jumbo-btn {
    margin-top: 30px;
}

.jumbo-btn .white-btn {
    color: black;
    margin-right: 15px;
    padding: 13px 20px;
}

.jumbotron .jumbo-btn a {
    text-decoration: none;
}

.jumbotron .jumbo-btn a:hover {
    text-decoration: underline;
}



/*MAIN*/ 
main {
    color: black;
}

main .discord-features {
    padding-top: 100px;
    padding-bottom: 150px;
}

.bg-f6 {
    background-color: #f6f6f6;
}

main .discord-features:last-child {
    margin-bottom: 0;
}


main h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 800;
}

main p {
    font-size: 20px;
    line-height: 30px;
}

.item4-big {
    height: 700px;
    margin: 40px;
    background-image: url(../img/item4-big.svg);
    background-size: cover;
}

.starred-text {
    background-image: url(../img/stars.svg);
    background-size: 50%;
    background-position: top;
    background-repeat: no-repeat;
    
}

.discord-features .starred-text h3 {
    font-size: 25px;
    font-weight: 800;
    padding: 40px;
}

.discord-features a.indaco-btn {
    text-decoration: none;
}

.discord-features a.indaco-btn:hover {
    text-decoration: underline;
}

.wave {
    opacity: 0.04;
    margin-bottom: -4px;   
}

.wave.rotate {
    transform: rotateX(180deg);
}


/*** Footer ***/
footer {
    background-color: #23272a;
    color: white;
    padding: 100px 0;
}

.indaco-title {
    color: #5865f2;
    font-size: 15px;
    margin-bottom: 14px;
}

.text-left {
    text-align: left;
}

.col.w-40 {
    font-size: 12px;
}

.col.w-40 .indaco-title {
    font-size: 30px;
    font-weight: 800;
    padding-right: 200px;
    margin-bottom: 25px;
}


footer .container div.col.w-15 {
    display: inline-block;
    margin-top: 10px;
}


footer .container div.col.w-15 ul {
    display: inline-block;
}

footer .container div.col.w-15 ul li {
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 12px;
}

footer .container div.col.w-15 ul li:hover {
    text-decoration: underline;
}

#ita-flag {
    width: 20px;
    margin-right: 3px;
    position: relative;
    top: 3px;
}

.fas.fa-angle-down {
    margin-left: 3px;
}

.fab.fa-twitter, .fab.fa-instagram, 
.fab.fa-facebook, .fab.fa-youtube {
    font-size: 20px;
    margin-right: 20px;
    margin-top: 25px;
}


#hr-footer {
    margin: 40px 0;
    background-color: #5865f2;
    border: 1px solid #23272a;
}

#btn-right {
    height: 40px;
    text-align: right;
    line-height: 40px;   
}

#btn-right a.indaco-btn {
    font-size: 13px;
    text-decoration: none;
}

#btn-right a.indaco-btn:hover {
    text-decoration: underline;
}















