* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}

/*UTILITIES*/
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.col.w-20 {
    width: 20%;
}

.col.w-60 {
    width: 60%;
}


/*HEADER*/ 
header {
    background-color: #3161e0;
    color: white;
    text-align: center;
}

.col {
    float: left;
}

header .top-bar {
    height: 80px;
    line-height: 80px;
}

#logo {
    vertical-align: middle;
}

.top-bar .top-bar-menu {
    display: inline-block;
}
 
.top-bar-menu li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
}

.top-bar-menu li a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.top-bar-menu li a:hover {
    text-decoration: underline;
}





