* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}

/*UTILITIES*/
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.col.w-20 {
    width: 20%;
}

.col.w-60 {
    width: 60%;
}

.white-btn, .dark-btn {
    border-radius: 20px;
}

.white-btn {
    background-color: white;
}

.dark-btn {
    background-color: black;
}


/*HEADER*/ 
header {
    background-color: #3161e0;
    color: white;
    text-align: center;
}

.col {
    float: left;
}

header .top-bar {
    height: 80px;
    line-height: 80px;
}

#logo {
    vertical-align: middle;
}

.top-bar .top-bar-menu {
    display: inline-block;
}
 
.top-bar-menu li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
}

.top-bar a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.top-bar a:hover {
    text-decoration: underline;
}

.top-bar .white-btn {
    color: black;
    padding: 10px 15px;
}

.jumbotron {
    height: 500px;
    background-image:url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.jumbotron .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.jumbotron .container h1 {
    font-size: 50px;
    margin-bottom: 40px;
}

.jumbotron .container p {
    font-size: 20px;
    line-height: 30px;
}

.jumbo-btn {
    margin-top: 30px;
}

.jumbo-btn .white-btn {
    color: black;
    margin-right: 15px;
    padding: 13px 20px;
}

.jumbo-btn .dark-btn {
    color: white;
    margin-left: 15px;
    padding: 13px 20px;
}

.jumbotron .jumbo-btn a {
    text-decoration: none;
}

.jumbotron .jumbo-btn a:hover {
    text-decoration: underline;
}

.jumbo-btn .fas.fa-long-arrow-alt-down {
    padding: 8px;
}












